// tangnano20k.cst - pins of gowin/pqse_tn20k_top.v, Sipeed Tang Nano 20K (GW2AR-LV18QN88C8/I7)
// From Sipeed's examples: check against the schematic of your board revision.
//   clk 27 MHz oscillator; uart_* BL616 USB-UART; led_n six LEDs, active low
//   pn_* PN532 HSU (PN532=1 or RISCV=1): pins 27 (LCD_B7), 28 (LCD_B6), 3.3 V

IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_rx" 70;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC  "pn_tx" 27;
IO_PORT "pn_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "pn_rx" 28;
IO_PORT "pn_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led_n[0]" 15;
IO_LOC  "led_n[1]" 16;
IO_LOC  "led_n[2]" 17;
IO_LOC  "led_n[3]" 18;
IO_LOC  "led_n[4]" 19;
IO_LOC  "led_n[5]" 20;
IO_PORT "led_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "led_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "led_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "led_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "led_n[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "led_n[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// configuration flash (NVM=flash, gowin/pqse_flash_nvm.v; else deselected).
// MSPI pins as user I/O after configuration (-use_mspi_as_gpio 1)
IO_LOC  "flash_cs_n" 60;
IO_PORT "flash_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "flash_clk" 59;
IO_PORT "flash_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "flash_mosi" 61;
IO_PORT "flash_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "flash_miso" 62;
IO_PORT "flash_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// button S2, high while pressed (NVM=flash: held 2 s wipes the persistent store)
IO_LOC  "btn_s2" 87;
IO_PORT "btn_s2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
